.booking-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.booking-submit-button {
  margin-left: 15%;
  margin-right: 15%;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}
