.main-button {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-fg-color);
  border-radius: 1rem;
  margin: 0.8rem;
  padding: 1rem;
  cursor: pointer;
  transition-duration: 300ms;
}

.main-button:hover {
  color: var(--main-bg-color);
  background-color: var(--main-fg-color);
}

.main-button:active {
  background-color: var(--main-fg-color);
}
