.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-menu > a {
  color: var(--main-bg-color);
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.3rem 0 0.3rem 0;
  border: 2px solid var(--main-fg-color);
  border-radius: 1rem;
  transition-duration: 300ms;
}

.main-menu > *:hover {
  border: 2px solid var(--main-bg-color);
}

@media only screen and (max-width: 600px) {
  .main-menu {
    justify-content: space-between;
    width: 100%;
  }
}
