.header {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition-duration: 300ms;
  /* height: 80px; */
}

.header.top {
  flex-direction: column;
  justify-content: center;
  /* height: 150px; */
}

.main-title .header {
  font-size: 1rem;
}

.top .main-title {
  font-size: 4rem;
}

.top .main-menu {
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: center !important;
  }
}
