.section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-fg-color);
  /* color: var(--main-bg-color); */
  /* font-size: 2rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.section-header {
  font-size: 2rem;
  padding: 1rem;
  margin: 1.5rem;
  border-bottom: 1px solid var(--main-bg-color);
  display: flex;
  justify-content: space-between;
}

.section-container {
  margin: 1.5rem;
}

.section-container::before {
  display: block;
  content: ' ';
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}
